.feed::-webkit-scrollbar {
    display:none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed {
    flex: 0.4;
    border-right: 1px solid black;
    border-left: 1px solid black;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}